<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/priorities">Priorities</a></li>
        <li><a href="/tasks">All Tasks</a></li>
        <li><a href="/notes">All Notes</a></li>
        <li><a href="/projects">Projects</a></li>
        |
        <li><a href="/tasks/new">New Task</a></li>
        <li><a href="/priorities/new">New Priority</a></li>
        <li><a href="/projects/new">New Project</a></li>
        <li><a href="/notes/new">New Note</a></li>
    </ul>
</nav>
