<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/nav.ejs") %>
        <h1>All Tasks</h1>
        <ul>
            <% tasks.forEach((task) => { %>
            <li>
                <a href="/tasks/<%= task._id %>"> <%= task.name %></a>
            </li>
            <% }) %>
        </ul>
    </body>
</html>
